.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
}

.card_post {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.input {
  padding-left: 10px;
  width: auto;
}
.product-title,
.price,
.sizes,
.colors {
  font-weight: bold;
}

.checked,
.price span {
  color: #d57f3a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.color-2 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 1em;
  width: 1em;
  border-radius: 2px;
}

.bid_now {
  background-color: #d57f3a;
  color: #fff;
}

.bid_now:hover {
  background-color: brown;
  color: #fff;
}
.bid_now:focus {
  background-color: #d57f3a;
  color: #fff;
}

.green {
  background: #85ad00;
}

.red {
  background: red;
}

.tooltip-inner {
  padding: 1.3em;
}

.bt {
  font-weight: lighter !important;
}
